h2{
    font-size: 12pt;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;

}

button{
    background-color: rgb(12, 176, 255);
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}